@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");
*{
    padding: 0;
    margin: 0;
}
html{
    font-family: $font;
}
@import "headerfooter.scss";
@import "paginas.scss";
@import "media.scss";